.jumbotron {
    background-color:rgba(35, 194, 206, 0.836);
    color: black;
    margin-top: 50px;
}

.btn {
    

    background-color: rgb(3, 83, 129);
    color: rgb(253, 253, 253);
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: rgba(35, 194, 206, 0.836);
    text-decoration-color: rgb(0, 0, 0);
    text-emphasis-color: black;
    margin-top: 30px;
    margin-bottom: 20px;
    }

.card-service {
    
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {

    width:100%;

}

.footer-address-icon {
    padding-right: 5px; 
}

.btn-envia {

    color: rgb(252, 252, 252);
    background-color: rgb(3, 83, 129);
    margin-top: 30px;
}

.tabella {
    
    margin-top: 30px;
}

.landingImage {

    margin-bottom: 20px;
}
.carrello {
    margin-bottom: 20px;
    margin-top: 20px;
}

