.jumbotron {
  background-color: #42eff5;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 17px; }

.btn {
  background-color: #076196;
  color: #f5f5f5; }

footer {
  padding: 10px 10px 10px 10px;
  background-color: #42eff5;
  text-decoration-color: #000000;
  text-emphasis-color: #000000;
  margin-top: 30px;
  margin-bottom: 20px; }

.card-service {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 5px; }

.btn-envia {
  color: #f5f5f5;
  background-color: #076196;
  margin-top: 30px;
  margin-bottom: 0px; }

.tabella {
  margin-top: 30px;
  margin-bottom: 0px; }

.landingImage {
  margin-top: 0px;
  margin-bottom: 20px; }

.carrello {
  margin-top: 20px;
  margin-bottom: 20px; }

.navbar {
  background-color: #076196;
  color: #f5f5f5; }
