
@blue: #42eff5;
@black: #000000;
@darkblue: #076196;
@whitesmoke: #f5f5f5;

.margin(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
    
}


.jumbotron {
    background-color:@blue;
    color: @black;
    .margin (50px, 17px);
}

.btn {
    

    background-color: @darkblue;
    color: @whitesmoke;
}

footer {
    padding: 10px 10px 10px 10px;
    background-color:@blue;
    text-decoration-color: @black;
    text-emphasis-color: @black;
    .margin(30px, 20px);
}

.card-service {
    
    flex: 1 200px;
    .margin(10px, 0px);
}

.btn-reserva {

    width:100%;

}

.footer-address-icon {
    padding-right: 5px; 
}

.btn-envia {

    color: @whitesmoke;
    background-color: @darkblue;
    .margin(30px,0px);
}

.tabella {
    .margin(30px,0px)
    
}

.landingImage {
    .margin(0px,20px)
    
}
.carrello {
    .margin(20px,20px)
    
}

.navbar {
    background-color: @darkblue;
    color: @whitesmoke;
}