
$blue: #42eff5;
$black: #000000;
$darkblue: #076196;
$whitesmoke: #f5f5f5;

@mixin margin($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}


.jumbotron {
    background-color:$blue;
    color: $black;
    @include margin (50px, 17px);
}

.btn {
    

    background-color: $darkblue;
    color: $whitesmoke;
}

footer {
    padding: 10px 10px 10px 10px;
    background-color:$blue;
    text-decoration-color: $black;
    text-emphasis-color: $black;
    @include margin(30px, 20px);
}

.card-service {
    
    flex: 1 200px;
    @include margin(10px, 0px);
}

.btn-reserva {

    width:100%;

}

.footer-address-icon {
    padding-right: 5px; 
}

.btn-envia {

    color: $whitesmoke;
    background-color: $darkblue;
    @include margin(30px,0px);
}

.tabella {
    @include margin(30px,0px)
    
}

.landingImage {
    @include margin(0px,20px)
    
}
.carrello {
    @include margin(20px,20px)
    
}

.navbar {
    background-color: $darkblue;
    color: $whitesmoke;
}


